{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}


            <div class="container">
                <h1>Liste des Administrateurs</h1>

            </div>
				


{% endblock fos_user_content%}

